Trylogyc/Connected Services/WcfTrylogycWebsite/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52545/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfTrylogycWebsite.ServiceRequests" />
  <xs:import schemaLocation="http://localhost:52545/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfTrylogycWebsite.ServiceResponses" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfTrylogycWebsite.ServiceRequests" minOccurs="0" name="request" nillable="true" type="q1:LoginRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfTrylogycWebsite.ServiceResponses" minOccurs="0" name="LoginResult" nillable="true" type="q2:LoginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoicePdf">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfTrylogycWebsite.ServiceRequests" minOccurs="0" name="request" nillable="true" type="q3:FacturaPdfRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoicePdfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfTrylogycWebsite.ServiceResponses" minOccurs="0" name="GetInvoicePdfResult" nillable="true" type="q4:FacturaPdfResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfTrylogycWebsite.ServiceRequests" minOccurs="0" name="request" nillable="true" type="q5:RegisterRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfTrylogycWebsite.ServiceResponses" minOccurs="0" name="RegisterResult" nillable="true" type="q6:RegisterResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>