Trylogyc/Connected Services/WcfTrylogycWebsite/Service4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfTrylogycWebsite.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfTrylogycWebsite.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WcfUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Associates" nillable="true" type="tns:ArrayOfWcfAssociate" />
      <xs:element minOccurs="0" name="AssociatesConnections" nillable="true" type="tns:ArrayOfWcfAssociateConnection" />
      <xs:element minOccurs="0" name="Balances" nillable="true" type="tns:ArrayOfWcfBalance" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailInvoice" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Route" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalConnections" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WcfUser" nillable="true" type="tns:WcfUser" />
  <xs:complexType name="ArrayOfWcfAssociate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WcfAssociate" nillable="true" type="tns:WcfAssociate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWcfAssociate" nillable="true" type="tns:ArrayOfWcfAssociate" />
  <xs:complexType name="WcfAssociate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CGP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConnectionId" type="xs:int" />
      <xs:element minOccurs="0" name="Document" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WcfAssociate" nillable="true" type="tns:WcfAssociate" />
  <xs:complexType name="ArrayOfWcfAssociateConnection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WcfAssociateConnection" nillable="true" type="tns:WcfAssociateConnection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWcfAssociateConnection" nillable="true" type="tns:ArrayOfWcfAssociateConnection" />
  <xs:complexType name="WcfAssociateConnection">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssociateId" type="xs:int" />
      <xs:element minOccurs="0" name="ConnectionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WcfAssociateConnection" nillable="true" type="tns:WcfAssociateConnection" />
  <xs:complexType name="ArrayOfWcfBalance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WcfBalance" nillable="true" type="tns:WcfBalance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWcfBalance" nillable="true" type="tns:ArrayOfWcfBalance" />
  <xs:complexType name="WcfBalance">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssociateId" type="xs:int" />
      <xs:element minOccurs="0" name="ConnectionId" type="xs:int" />
      <xs:element minOccurs="0" name="InvoiceAmmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceExpirationDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceLetter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoicePoint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceTrackingNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Paid" type="xs:boolean" />
      <xs:element minOccurs="0" name="Period" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WcfBalance" nillable="true" type="tns:WcfBalance" />
</xs:schema>