Trylogyc/Connected Services/WcfTrylogycWebsite/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfTrylogycWebsite.ServiceResponses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfTrylogycWebsite.ServiceResponses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52545/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WcfTrylogycWebsite.Models" />
  <xs:complexType name="LoginResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfTrylogycWebsite.Models" minOccurs="0" name="User" nillable="true" type="q1:WcfUser" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LoginResponse" nillable="true" type="tns:LoginResponse" />
  <xs:complexType name="BaseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponse" nillable="true" type="tns:BaseResponse" />
  <xs:complexType name="FacturaPdfResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="InvoicePdf" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FacturaPdfResponse" nillable="true" type="tns:FacturaPdfResponse" />
  <xs:complexType name="RegisterResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegisterResponse" nillable="true" type="tns:RegisterResponse" />
</xs:schema>